<h3>Create New Landmark</h3>

<form action="/landmarks" method="POST">
  <label for="">Name:</label>
  <input id="landmark_name" type="text" name="landmark[name]" />
  <label for="">Year:</label>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" />
  <input type="submit" value="Create New Landmark" />
</form>
